.app-bar {
  align-items: center;
  background-color: #222;
  color: #99d9e5;
  display: flex;
  height: 64px;
  justify-content: space-between;
  padding: 0 16px 0 16px;
  width: 100%;
}

.app-logo {
  width: 48px;
}
