* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

@font-face {
  font-family: futura;
  src: url('assets/futura/Futura Book font.ttf');
}

body {
  background-color: #222;
  font-family: futura;
}
